{% extends 'blog/base.html' %} 
{% block content %} 
{% load static %} 

  <!-- Post preview-->
  {% for blog in blogs %}
  <div class="post-preview">
    <a href="post.html">
        <h2 class="post-title">{{ blog.title }}</h2>
        <h3 class="post-subtitle">{{ blog.content }}</h3>
    </a>
    <p class="post-meta">
        Posted by
        <a href="#!">{{ blog.writer }}</a>
        {{ blog.pub_date }}
    </p>
    <a class="btn btn-primary float-right" href="{% url 'detail' blog.id %}"> 더보기 →</a>
</div>
<!-- Divider-->
<hr class="my-4" />

{% endfor %} 

{% endblock %}






